body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  background: rgb(119, 187, 243);
}
.container {
  width: 40%;
}
.card {
  border-radius: 50px;
  background: rgba(91, 243, 31, 0.7);
  box-shadow: 5px 10px 8px 10px #888888;
  padding: 3%;
  text-align: center;
}
.card h4 {
  font-size: 4rem;
  font-weight: 400;
  margin: 1rem 0;
}
.card h6 {
  font-size: 2rem;
}
img #icon {
  width: 20%;
}
#weather {
  text-transform: capitalize;
}
button.refresh {
  display: block;
  width: 16%;
  margin: 2% auto;
  color: hsl(0, 0%, 99%);
  /* color: rgb(119, 187, 243); */
  background: transparent;
  border: 0;
  font-size: 3rem;
  height: 16%;
  border-radius: 50%;
  box-shadow: 10px 4px 10px rgb(54, 59, 55), 5px 5px 18px rgb(39, 46, 40);
}
